In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import requests

In [ ]:
Que1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [8]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [9]:
# scrape all product urls

product_urls = []

start = 0
end = 3

for page in range(start, end):  # for Loop for scrapping 3 pages
    urls = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td/a')

    for i in urls:
        # scraping urls
        product_urls.append(i.get_attribute("href"))

    time.sleep(2)

print(product_urls)
print(len(product_urls))

['https://en.wikipedia.org/wiki/Baby_Shark', 'https://en.wikipedia.org/wiki/Pinkfong', 'https://en.wikipedia.org/wiki/Despacito#Music_video', 'https://en.wikipedia.org/wiki/Luis_Fonsi', 'https://en.wikipedia.org/wiki/Johny_Johny_Yes_Papa#YouTube_videos', 'https://en.wikipedia.org/wiki/LooLoo_Kids', 'https://www.youtube.com/watch?v=WRVsOCh907o', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Shape_of_You#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/See_You_Again#Music_video', 'https://en.wikipedia.org/wiki/Wiz_Khalifa', 'https://en.wikipedia.org/wiki/The_Wheels_on_the_Bus', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://www.youtube.com/watch?v=hq3yfQnllfQ', 'https://en.wikipedia.org/wiki/ChuChu_TV', 'https://en.wikipedia.org/wiki/Uptown_Funk#Music_video', 'https://en.wikipedia.org/wiki/Mark_Ronson', 'https://www.youtube.com/watch?v=_nAu9D-8srA&ab_channel=%D0%9C%D0%B8%D1%80%D0%BE%D1%88%D0%BA%D0%B0%D0%A2%D0%92', 'https://www.youtube.com/@miroska-tv', 'https://en.wikipedia.org/wiki/Gangnam_Style_(music_video)', 'https://en.wikipedia.org/wiki/Psy', 'https://en.wikipedia.org/wiki/Get_Movies', 'https://en.wikipedia.org/wiki/Dame_Tu_Cosita#Music_video', 'https://en.wikipedia.org/wiki/El_Chombo', 'https://en.wikipedia.org/wiki/Axel_F#Crazy_Frog_version', 'https://en.wikipedia.org/wiki/Crazy_Frog', 'https://en.wikipedia.org/wiki/Sugar_(Maroon_5_song)#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Counting_Stars#Music_video', 'https://en.wikipedia.org/wiki/OneRepublic', 'https://en.wikipedia.org/wiki/Baa,_Baa,_Black_Sheep', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Roar_(song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Masoom_(1983_film)', 'https://en.wikipedia.org/wiki/Waka_Waka_(This_Time_for_Africa)#Music_video', 'https://en.wikipedia.org/wiki/Shakira', 'https://en.wikipedia.org/wiki/Sorry_(Justin_Bieber_song)#Music_videos', 'https://en.wikipedia.org/wiki/Justin_Bieber', 'https://en.wikipedia.org/wiki/Thinking_Out_Loud#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Humpty_Dumpty', 'https://en.wikipedia.org/wiki/Hanuman_Chalisa', 'https://en.wikipedia.org/wiki/T-Series_(company)', 'https://en.wikipedia.org/wiki/Dark_Horse_(Katy_Perry_song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Perfect_(Ed_Sheeran_song)#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Let_Her_Go#Music_video', 'https://en.wikipedia.org/wiki/Passenger_(singer)', 'https://en.wikipedia.org/wiki/Faded_(Alan_Walker_song)#Music_video', 'https://en.wikipedia.org/wiki/Alan_Walker_(music_producer)', 'https://en.wikipedia.org/wiki/Girls_Like_You#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Lean_On#Music_video', 'https://en.wikipedia.org/wiki/Major_Lazer', 'https://en.wikipedia.org/wiki/Baby_Shark', 'https://en.wikipedia.org/wiki/Pinkfong', 'https://en.wikipedia.org/wiki/Despacito#Music_video', 'https://en.wikipedia.org/wiki/Luis_Fonsi', 'https://en.wikipedia.org/wiki/Johny_Johny_Yes_Papa#YouTube_videos', 'https://en.wikipedia.org/wiki/LooLoo_Kids', 'https://www.youtube.com/watch?v=WRVsOCh907o', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Shape_of_You#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/See_You_Again#Music_video', 'https://en.wikipedia.org/wiki/Wiz_Khalifa', 'https://en.wikipedia.org/wiki/The_Wheels_on_the_Bus', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://www.youtube.com/watch?v=hq3yfQnllfQ', 'https://en.wikipedia.org/wiki/ChuChu_TV', 'https://en.wikipedia.org/wiki/Uptown_Funk#Music_video', 'https://en.wikipedia.org/wiki/Mark_Ronson', 'https://www.youtube.com/watch?v=_nAu9D-8srA&ab_channel=%D0%9C%D0%B8%D1%80%D0%BE%D1%88%D0%BA%D0%B0%D0%A2%D0%92', 'https://www.youtube.com/@miroska-tv', 'https://en.wikipedia.org/wiki/Gangnam_Style_(music_video)', 'https://en.wikipedia.org/wiki/Psy', 'https://en.wikipedia.org/wiki/Get_Movies', 'https://en.wikipedia.org/wiki/Dame_Tu_Cosita#Music_video', 'https://en.wikipedia.org/wiki/El_Chombo', 'https://en.wikipedia.org/wiki/Axel_F#Crazy_Frog_version', 'https://en.wikipedia.org/wiki/Crazy_Frog', 'https://en.wikipedia.org/wiki/Sugar_(Maroon_5_song)#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Counting_Stars#Music_video', 'https://en.wikipedia.org/wiki/OneRepublic', 'https://en.wikipedia.org/wiki/Baa,_Baa,_Black_Sheep', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Roar_(song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Masoom_(1983_film)', 'https://en.wikipedia.org/wiki/Waka_Waka_(This_Time_for_Africa)#Music_video', 'https://en.wikipedia.org/wiki/Shakira', 'https://en.wikipedia.org/wiki/Sorry_(Justin_Bieber_song)#Music_videos', 'https://en.wikipedia.org/wiki/Justin_Bieber', 'https://en.wikipedia.org/wiki/Thinking_Out_Loud#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Humpty_Dumpty', 'https://en.wikipedia.org/wiki/Hanuman_Chalisa', 'https://en.wikipedia.org/wiki/T-Series_(company)', 'https://en.wikipedia.org/wiki/Dark_Horse_(Katy_Perry_song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Perfect_(Ed_Sheeran_song)#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Let_Her_Go#Music_video', 'https://en.wikipedia.org/wiki/Passenger_(singer)', 'https://en.wikipedia.org/wiki/Faded_(Alan_Walker_song)#Music_video', 'https://en.wikipedia.org/wiki/Alan_Walker_(music_producer)', 'https://en.wikipedia.org/wiki/Girls_Like_You#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Lean_On#Music_video', 'https://en.wikipedia.org/wiki/Major_Lazer', 'https://en.wikipedia.org/wiki/Baby_Shark', 'https://en.wikipedia.org/wiki/Pinkfong', 'https://en.wikipedia.org/wiki/Despacito#Music_video', 'https://en.wikipedia.org/wiki/Luis_Fonsi', 'https://en.wikipedia.org/wiki/Johny_Johny_Yes_Papa#YouTube_videos', 'https://en.wikipedia.org/wiki/LooLoo_Kids', 'https://www.youtube.com/watch?v=WRVsOCh907o', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Shape_of_You#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/See_You_Again#Music_video', 'https://en.wikipedia.org/wiki/Wiz_Khalifa', 'https://en.wikipedia.org/wiki/The_Wheels_on_the_Bus', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://www.youtube.com/watch?v=hq3yfQnllfQ', 'https://en.wikipedia.org/wiki/ChuChu_TV', 'https://en.wikipedia.org/wiki/Uptown_Funk#Music_video', 'https://en.wikipedia.org/wiki/Mark_Ronson', 'https://www.youtube.com/watch?v=_nAu9D-8srA&ab_channel=%D0%9C%D0%B8%D1%80%D0%BE%D1%88%D0%BA%D0%B0%D0%A2%D0%92', 'https://www.youtube.com/@miroska-tv', 'https://en.wikipedia.org/wiki/Gangnam_Style_(music_video)', 'https://en.wikipedia.org/wiki/Psy', 'https://en.wikipedia.org/wiki/Get_Movies', 'https://en.wikipedia.org/wiki/Dame_Tu_Cosita#Music_video', 'https://en.wikipedia.org/wiki/El_Chombo', 'https://en.wikipedia.org/wiki/Axel_F#Crazy_Frog_version', 'https://en.wikipedia.org/wiki/Crazy_Frog', 'https://en.wikipedia.org/wiki/Sugar_(Maroon_5_song)#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Counting_Stars#Music_video', 'https://en.wikipedia.org/wiki/OneRepublic', 'https://en.wikipedia.org/wiki/Baa,_Baa,_Black_Sheep', 'https://en.wikipedia.org/wiki/Cocomelon_-_Nursery_Rhymes', 'https://en.wikipedia.org/wiki/Roar_(song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Masoom_(1983_film)', 'https://en.wikipedia.org/wiki/Waka_Waka_(This_Time_for_Africa)#Music_video', 'https://en.wikipedia.org/wiki/Shakira', 'https://en.wikipedia.org/wiki/Sorry_(Justin_Bieber_song)#Music_videos', 'https://en.wikipedia.org/wiki/Justin_Bieber', 'https://en.wikipedia.org/wiki/Thinking_Out_Loud#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Humpty_Dumpty', 'https://en.wikipedia.org/wiki/Hanuman_Chalisa', 'https://en.wikipedia.org/wiki/T-Series_(company)', 'https://en.wikipedia.org/wiki/Dark_Horse_(Katy_Perry_song)#Music_video', 'https://en.wikipedia.org/wiki/Katy_Perry', 'https://en.wikipedia.org/wiki/Perfect_(Ed_Sheeran_song)#Music_video', 'https://en.wikipedia.org/wiki/Ed_Sheeran', 'https://en.wikipedia.org/wiki/Let_Her_Go#Music_video', 'https://en.wikipedia.org/wiki/Passenger_(singer)', 'https://en.wikipedia.org/wiki/Faded_(Alan_Walker_song)#Music_video', 'https://en.wikipedia.org/wiki/Alan_Walker_(music_producer)', 'https://en.wikipedia.org/wiki/Girls_Like_You#Music_video', 'https://en.wikipedia.org/wiki/Maroon_5', 'https://en.wikipedia.org/wiki/Lean_On#Music_video', 'https://en.wikipedia.org/wiki/Major_Lazer']
171

In [10]:
Rank_list = []
Name_list = []
Artist_list = []
Upload_date_list = []

for url in product_urls: # loop for every guitar in the list
    driver.get(url)
    time.sleep(2)
    
    try:
        rank = driver.find_element(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
        Rank_list.append(rank.text)
    except NoSuchElementException:
        Rank_list.append('-')
        
    try:
        name = driver.find_element(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td/a')
        Name_list.append(name.text)
    except NoSuchElementException:
        Name_list.append('-')
        
    try:
        artist = driver.find_element(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td/a')
        Artist_list.append(artist.text)
    except NoSuchElementException:
        Artist_list.append('-')
    
    try:
        return_date = driver.find_element(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td')
        Upload_date_list.append(return_date.text)
    except NoSuchElementException:
        Upload_date_list.append('-')

In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

# Assuming you've set up the webdriver and have a list of product_urls

Rank_list = []
Name_list = []
Artist_list = []
Upload_date_list = []

for url in product_urls:
    driver.get(url)
    time.sleep(2)

    try:
        row = driver.find_element(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
        
        # Find rank
        rank = row.find_element(By.XPATH, './td[1]')
        Rank_list.append(rank.text)
        
        # Find name
        name = row.find_element(By.XPATH, './td[2]/a')
        Name_list.append(name.text)
        
        # Find artist
        artist = row.find_element(By.XPATH, './td[3]/a')
        Artist_list.append(artist.text)
        
        # Find upload date
        upload_date = row.find_element(By.XPATH, './td[4]')
        Upload_date_list.append(upload_date.text)

    except NoSuchElementException:
        Rank_list.append('-')
        Name_list.append('-')
        Artist_list.append('-')
        Upload_date_list.append('-')

# Print or do further processing with the lists
print("Rank List:", Rank_list)
print("Name List:", Name_list)
print("Artist List:", Artist_list)
print("Upload Date List:", Upload_date_list)

# Close the webdriver
driver.quit()

KeyboardInterrupt:

In [16]:
print(len(Rank_list))
print(len(Name_list))
print(len(Artist_list))
print(len(Upload_date_list))

93
93
93
93

In [17]:
import pandas as pd
df=pd.DataFrame({'Ranck':Rank_list, 'Name':Name_list,'Artists':Artist_list,'Uploade_Date':Upload_date_list})
df

   Ranck Name Artists Uploade_Date
0      -    -       -            -
1      -    -       -            -
2      -    -       -            -
3      -    -       -            -
4      -    -       -            -
..   ...  ...     ...          ...
88     -    -       -            -
89     -    -       -            -
90     -    -       -            -
91     -    -       -            -
92     -    -       -            -

[93 rows x 4 columns]

In [ ]:
Que2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [19]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://www.bcci.tv/")

In [21]:
# From bcci.tv home page you have reach to the international fixture page through code.

fixture_page = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')

fixture_page.click()

In [ ]:
seris = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[8]')

seris.click()

In [ ]:
/html/body/header/div[3]/div[2]/ul/div[1]/a[2]

In [10]:
seris_tags = driver.find_elements(By.XPATH, '//div[@class="match-card__tourName ng-binding"]')

# Create a list to store the seris titles
seris_titles = []

# Iterate through the elements and extract titles
for i in seris_tags[:10]:
    title = i.text
    seris_titles.append(title)

# Output the scraped job titles
print(seris_titles)

print(len(seris_titles))

['ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'ICC MENS U19 WORLD CUP 2024', 'AFGHANISTAN TOUR OF INDIA 2023-24', 'ENGLAND LIONS TOUR OF INDIA', 'TRI-NATION UNDER-19S TOURNAMENT IN SOUTH AFRICA', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'ACC U19 ASIA CUP 2023', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'ENGLAND WOMEN TOUR OF INDIA 2023-24']
10

In [ ]:
Place_tags = driver.find_elements(By.XPATH, '//div[@class="match-card__tourName ng-binding"]')

# Create a list to store the seris titles
place_titles = []

# Iterate through the elements and extract titles
for i in Place_tags[:10]:
    title = i.text
    place_titles.append(title)

# Output the scraped job titles
print(place_titles)

print(len(place_titles))

In [22]:
# scrape all product urls

product_urls = []

start = 0
end = 3

for page in range(start, end):  # for Loop for scrapping 3 pages
    urls = driver.find_elements(By.XPATH, '//div[@class="match-card-bottom"]/a')

    for i in urls:
        # scraping urls
        product_urls.append(i.get_attribute("href"))

    # clicking the next button
   # nxt_button = driver.find_element(By.XPATH, '//span[@class="s-pagination-strip"]/a')
  # nxt_button.click()

    time.sleep(2)

In [23]:
print(len(product_urls))

18

In [28]:
print(len(date_list),len(time_list),len(place_list))

18 18 18

In [27]:
from selenium.common.exceptions import NoSuchElementException
import time

date_list = []
time_list = []
place_list = []

for url in product_urls: # loop for every guitar in the list
    driver.get(url)
    time.sleep(2)
    
    try:
        date = driver.find_element(By.XPATH, '//div[@class="match-date-info"]/div')
        date_list.append(date.text)
    except NoSuchElementException:
        date_list.append('-')
        
    try:
        match_time = driver.find_element(By.XPATH, '//div[@class="match-date-info"]/div')
        time_list.append(match_time.text)
    except NoSuchElementException:
        time_list.append('-')
        
    try:
        place = driver.find_element(By.XPATH, '//div[@class="match-place ng-scope"]/span')
        place_list.append(place.text)
    except NoSuchElementException:
        place_list.append('-')

In [30]:
import pandas as pd
df=pd.DataFrame({'Date':date_list, 'Time':time_list,'Place':place_list})
df

   Date Time Place
0     -    -     -
1     -    -     -
2     -    -     -
3     -    -     -
4     -    -     -
5     -    -     -
6     -    -     -
7     -    -     -
8     -    -     -
9     -    -     -
10    -    -     -
11    -    -     -
12    -    -     -
13    -    -     -
14    -    -     -
15    -    -     -
16    -    -     -
17    -    -     -

In [20]:
import pandas as pd
df=pd.DataFrame({'Seris':seris_titles})
df

                                             Seris
0                    ENGLAND TOUR OF INDIA 2023-24
1                      INDIA TOUR OF ZIMBABWE 2024
2                      ICC MENS U19 WORLD CUP 2024
3                AFGHANISTAN TOUR OF INDIA 2023-24
4                      ENGLAND LIONS TOUR OF INDIA
5  TRI-NATION UNDER-19S TOURNAMENT IN SOUTH AFRICA
6            AUSTRALIA WOMEN TOUR OF INDIA 2023-24
7                            ACC U19 ASIA CUP 2023
8               INDIA TOUR OF SOUTH AFRICA 2023-24
9              ENGLAND WOMEN TOUR OF INDIA 2023-24

Que 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [60]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://statisticstimes.com/economy/india-statistics.php")

In [61]:
India_state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

India_state.click()

In [50]:
Rank_tags = driver.find_elements(By.XPATH, '//td[@class="data1"]')

# Create a list to store the series titles
Rank_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Rank_tags[:33]:
    rank = i.text
    Rank_titles.append(rank)

# Output the scraped series titles
print(Rank_titles)

print(len(Rank_titles))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']
33

In [51]:
States_tags = driver.find_elements(By.XPATH, '//td[@class="name"]')

# Create a list to store the series titles
States_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in States_tags[:33]:
    state = i.text
    States_titles.append(state)

# Output the scraped series titles
print(States_titles)

print(len(States_titles))

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']
33

In [52]:
#Scraping GSDP [(Cr INR at 2011-12 prices) @21-22] because this option was not there GSDP(18-19)
GSDP_tags = driver.find_elements(By.XPATH, '//td[@class="data"]')

# Create a list to store the series titles
GSDP_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in GSDP_tags[:33]:
    gdp = i.text
    GSDP_titles.append(gdp)

# Output the scraped series titles
print(GSDP_titles)

print(len(GSDP_titles))

['-', '13.24%', '417.163', '-', '2,027,971', '2,364,514', '8.82%', '278.011', '1,453,321', '1,343,287', '2,257,575', '8.41%', '265.024', '1,304,678', '1,204,660', '2,241,368', '8.36%', '263.440', '1,326,319', '1,229,713', '-', '8.25%', '259.996', '-', '1,372,204', '1,554,992', '5.81%', '183.068', '854,023', '787,758', '1,413,620', '5.19%', '163.507']
33

In [53]:
#Scraping GSDP [(Cr INR at 2011-12 prices) @21-22] because this option was not there GSDP(18-19)
GSDP_tags_current = driver.find_elements(By.XPATH, '//td[@class="data"]')

# Create a list to store the series titles
GSDP_titles_current = []

# Iterate through the elements and extract titles for the first 33 records
for i in GSDP_tags_current[:33]:
    gdp = i.text
    GSDP_titles_current.append(gdp)

# Output the scraped series titles
print(GSDP_titles_current)

print(len(GSDP_titles_current))

['-', '13.24%', '417.163', '-', '2,027,971', '2,364,514', '8.82%', '278.011', '1,453,321', '1,343,287', '2,257,575', '8.41%', '265.024', '1,304,678', '1,204,660', '2,241,368', '8.36%', '263.440', '1,326,319', '1,229,713', '-', '8.25%', '259.996', '-', '1,372,204', '1,554,992', '5.81%', '183.068', '854,023', '787,758', '1,413,620', '5.19%', '163.507']
33

In [54]:
Stares_tags_current = driver.find_elements(By.XPATH, '//tr[@class="odd"]/td')

# Create a list to store the series titles
Shares_titles_current = []

# Iterate through the elements and extract titles for the first 33 records
for i in Stares_tags_current[:33]:
    gdp = i.text
    Shares_titles_current.append(gdp)

# Output the scraped series titles
print(Shares_titles_current)

print(len(Shares_titles_current))

['1', 'Maharashtra', '-', '3,108,022', '13.24%', '417.163', '-', '2,027,971', '3', 'Uttar Pradesh', '2,257,575', '1,974,532', '8.41%', '265.024', '1,304,678', '1,204,660', '5', 'Gujarat', '-', '1,937,066', '8.25%', '259.996', '-', '1,372,204', '7', 'Rajasthan', '1,413,620', '1,218,193', '5.19%', '163.507', '799,449', '738,922', '9']
33

In [64]:
import pandas as pd
df=pd.DataFrame({'Rank':Rank_titles, 'States':States_titles,'GDP':GSDP_titles,'GDP Current':GSDP_titles_current})
df

   Rank                     States        GDP GDP Current
0     1                Maharashtra          -           -
1     2                 Tamil Nadu     13.24%      13.24%
2     3              Uttar Pradesh    417.163     417.163
3     4                  Karnataka          -           -
4     5                    Gujarat  2,027,971   2,027,971
5     6                West Bengal  2,364,514   2,364,514
6     7                  Rajasthan      8.82%       8.82%
7     8             Madhya Pradesh    278.011     278.011
8     9             Andhra Pradesh  1,453,321   1,453,321
9    10                  Telangana  1,343,287   1,343,287
10   11                     Kerala  2,257,575   2,257,575
11   12                      Delhi      8.41%       8.41%
12   13                    Haryana    265.024     265.024
13   14                     Odisha  1,304,678   1,304,678
14   15                      Bihar  1,204,660   1,204,660
15   16                     Punjab  2,241,368   2,241,368
16   17                      Assam      8.36%       8.36%
17   18               Chhattisgarh    263.440     263.440
18   19                  Jharkhand  1,326,319   1,326,319
19   20                Uttarakhand  1,229,713   1,229,713
20   21         Jammu & Kashmir-UT          -           -
21   22           Himachal Pradesh      8.25%       8.25%
22   23                        Goa    259.996     259.996
23   24                    Tripura          -           -
24   25                 Chandigarh  1,372,204   1,372,204
25   26                 Puducherry  1,554,992   1,554,992
26   27                  Meghalaya      5.81%       5.81%
27   28                     Sikkim    183.068     183.068
28   29                    Manipur    854,023     854,023
29   30          Arunachal Pradesh    787,758     787,758
30   31                   Nagaland  1,413,620   1,413,620
31   32                    Mizoram      5.19%       5.19%
32   33  Andaman & Nicobar Islands    163.507     163.507

In [ ]:
Que 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [68]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://github.com/")

In [ ]:
#No Details visible for perform the scrap

In [ ]:
Que 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [44]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https:/www.billboard.com/")

In [45]:
search_input = driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]/div[1]/div/div/div/form/label/input")

search_input.send_keys('top 100 songs')

In [46]:
search = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]/div[1]/div/div/div/form/input")

search.click()

In [47]:
# scrape all product urls

product_urls = []

start = 0
end = 1

for page in range(start, end):  # for Loop for scrapping 3 pages
    urls = driver.find_elements(By.XPATH, '//div[@class="result-content"]/div/a')

    for i in urls:
        # scraping urls
        product_urls.append(i.get_attribute("href"))

    time.sleep(2)

print(product_urls)
print(len(product_urls))

['https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7a762e7b9d201e65a3755&_st_url=https%3A%2F%2Fwww.billboard.com%2Fcharts%2Fyear-end%2Ftop-billboard-200-albums%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7aa7e28ccbc69e88c693a&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvcategory%2Fcoverd%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7a79a64441ffd63aead8a&_st_url=https%3A%2F%2Fwww.billboard.com%2Fcharts%2Fyear-end%2Ftop-artists%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7a79b64441f196faec189&_st_url=https%3A%2F%2Fwww.billboard.com%2Fcharts%2Fyear-end%2Fbillboard-global-200%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7aa47196a67947ca5b56e&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvcategory%2Fgrowing-up-latino%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7aa7e64441f29c2aeae07&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvcategory%2Ffishing-for-answers%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7a79a28ccbc69e88c607c&_st_url=https%3A%2F%2Fwww.billboard.com%2Fcharts%2Fyear-end%2Fhot-100-songs%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7aa47196a67e3caa5bc9b&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvcategory%2Fhow-well-do-you-know-your-bandmates%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=61b7aa47196a6709b5a5b19a&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvcategory%2Fhow-it-went-down%2F&q=top%20100%20songs', 'https://api.swiftype.com/api/v1/public/analytics/pc?engine_key=9Y5W1rraVoDAe68YgJgT&doc_id=65df648264441fe96f4484f1&_st_url=https%3A%2F%2Fwww.billboard.com%2Fvideo%2Fbillboard-explains-luisa-sonzas-global-force-on-charts%2F&q=top%20100%20songs']
10

In [51]:
print(len(Song_name_list),len(Artist_name_list),len(Last_week_rank_list))

print(Song_name_list)
print(Artist_name_list)
print(Last_week_rank_list)

5 5 5
['One Thing At A Time', '-', 'Taylor Swift', 'Flowers', '-']
['Morgan Wallen', '-', '-', 'Miley Cyrus', '-']
['1\nOne Thing At A Time\nMorgan Wallen', '-', '1\nTaylor Swift', '1\nFlowers\nMiley Cyrus', '-']

In [50]:
# Empty lists for each category
Song_name_list = []
Artist_name_list = []
Last_week_rank_list = []

# Loop for the first 100 records
for url in product_urls[:10]:
    driver.get(url)
    time.sleep(2)

    try:
        song_name = driver.find_element(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/h3')
        Song_name_list.append(song_name.text)
    except NoSuchElementException:
        Song_name_list.append('-')

    try:
        rank = driver.find_element(By.XPATH, '//div[@class="chart-results-list // u-padding-b-250"]/div/ul')
        Last_week_rank_list.append(rank.text)
    except NoSuchElementException:
        Last_week_rank_list.append('-')

    try:
        artist = driver.find_element(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/span')
        Artist_name_list.append(artist.text)
    except NoSuchElementException:
        Artist_name_list.append('-')

KeyboardInterrupt:

Que6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [52]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [58]:
Rank_tags = driver.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td')

# Create a list to store the series titles
States_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Rank_tags:
    rank = i.text
    States_titles.append(rank)

# Output the scraped series titles
print(States_titles)

print(len(States_titles))

['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', 'Crime, Thriller & Adventure', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', "Children's Fiction", '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', "Children's Fiction", '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.', '4,179,479', 'Bloomsbury', "Children's Fiction", '5', 'Fifty Shades of Grey', 'James, E. L.', '3,758,936', 'Random House', 'Romance & Sagas', '6', 'Harry Potter and the Goblet of Fire', 'Rowling, J.K.', '3,583,215', 'Bloomsbury', "Children's Fiction", '7', 'Harry Potter and the Chamber of Secrets', 'Rowling, J.K.', '3,484,047', 'Bloomsbury', "Children's Fiction", '8', 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', '3,377,906', 'Bloomsbury', "Children's Fiction", '9', 'Angels and Demons', 'Brown, Dan', '3,193,946', 'Transworld', 'Crime, Thriller & Adventure', '10', "Harry Potter and the Half-blood Prince:Children's Edition", 'Rowling, J.K.', '2,950,264', 'Bloomsbury', "Children's Fiction", '11', 'Fifty Shades Darker', 'James, E. L.', '2,479,784', 'Random House', 'Romance & Sagas', '12', 'Twilight', 'Meyer, Stephenie', '2,315,405', 'Little, Brown Book', 'Young Adult Fiction', '13', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Larsson, Stieg', '2,233,570', 'Quercus', 'Crime, Thriller & Adventure', '14', 'Fifty Shades Freed', 'James, E. L.', '2,193,928', 'Random House', 'Romance & Sagas', '15', 'Lost Symbol,The', 'Brown, Dan', '2,183,031', 'Transworld', 'Crime, Thriller & Adventure', '16', 'New Moon', 'Meyer, Stephenie', '2,152,737', 'Little, Brown Book', 'Young Adult Fiction', '17', 'Deception Point', 'Brown, Dan', '2,062,145', 'Transworld', 'Crime, Thriller & Adventure', '18', 'Eclipse', 'Meyer, Stephenie', '2,052,876', 'Little, Brown Book', 'Young Adult Fiction', '19', 'Lovely Bones,The', 'Sebold, Alice', '2,005,598', 'Pan Macmillan', 'General & Literary Fiction', '20', 'Curious Incident of the Dog in the Night-time,The', 'Haddon, Mark', '1,979,552', 'Random House', 'General & Literary Fiction', '21', 'Digital Fortress', 'Brown, Dan', '1,928,900', 'Transworld', 'Crime, Thriller & Adventure', '22', 'Short History of Nearly Everything,A', 'Bryson, Bill', '1,852,919', 'Transworld', 'Popular Science', '23', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Larsson, Stieg', '1,814,784', 'Quercus', 'Crime, Thriller & Adventure', '24', 'Breaking Dawn', 'Meyer, Stephenie', '1,787,118', 'Little, Brown Book', 'Young Adult Fiction', '25', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Carle, Eric', '1,783,535', 'Penguin', 'Picture Books', '26', 'Gruffalo,The', 'Donaldson, Julia', '1,781,269', 'Pan Macmillan', 'Picture Books', '27', "Jamie's 30-Minute Meals", 'Oliver, Jamie', '1,743,266', 'Penguin', 'Food & Drink: General', '28', 'Kite Runner,The', 'Hosseini, Khaled', '1,629,119', 'Bloomsbury', 'General & Literary Fiction', '29', 'One Day', 'Nicholls, David', '1,616,068', 'Hodder & Stoughton', 'General & Literary Fiction', '30', 'Thousand Splendid Suns,A', 'Hosseini, Khaled', '1,583,992', 'Bloomsbury', 'General & Literary Fiction', '31', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", 'Larsson, Stieg', '1,555,135', 'Quercus', 'Crime, Thriller & Adventure', '32', "Time Traveler's Wife,The", 'Niffenegger, Audrey', '1,546,886', 'Random House', 'General & Literary Fiction', '33', 'Atonement', 'McEwan, Ian', '1,539,428', 'Random House', 'General & Literary Fiction', '34', "Bridget Jones's Diary:A Novel", 'Fielding, Helen', '1,508,205', 'Pan Macmillan', 'General & Literary Fiction', '35', 'World According to Clarkson,The', 'Clarkson, Jeremy', '1,489,403', 'Penguin', 'Humour: Collections & General', '36', "Captain Corelli's Mandolin", 'Bernieres, Louis de', '1,352,318', 'Random House', 'General & Literary Fiction', '37', 'Sound of Laughter,The', 'Kay, Peter', '1,310,207', 'Random House', 'Autobiography: General', '38', 'Life of Pi', 'Martel, Yann', '1,310,176', 'Canongate', 'General & Literary Fiction', '39', 'Billy Connolly', 'Stephenson, Pamela', '1,231,957', 'HarperCollins', 'Biography: The Arts', '40', 'Child Called It,A', 'Pelzer, Dave', '1,217,712', 'Orion', 'Autobiography: General', '41', "Gruffalo's Child,The", 'Donaldson, Julia', '1,208,711', 'Pan Macmillan', 'Picture Books', '42', "Angela's Ashes:A Memoir of a Childhood", 'McCourt, Frank', '1,204,058', 'HarperCollins', 'Autobiography: General', '43', 'Birdsong', 'Faulks, Sebastian', '1,184,967', 'Random House', 'General & Literary Fiction', '44', 'Northern Lights:His Dark Materials S.', 'Pullman, Philip', '1,181,503', 'Scholastic Ltd.', 'Young Adult Fiction', '45', 'Labyrinth', 'Mosse, Kate', '1,181,093', 'Orion', 'General & Literary Fiction', '46', 'Harry Potter and the Half-blood Prince', 'Rowling, J.K.', '1,153,181', 'Bloomsbury', 'Science Fiction & Fantasy', '47', 'Help,The', 'Stockett, Kathryn', '1,132,336', 'Penguin', 'General & Literary Fiction', '48', 'Man and Boy', 'Parsons, Tony', '1,130,802', 'HarperCollins', 'General & Literary Fiction', '49', 'Memoirs of a Geisha', 'Golden, Arthur', '1,126,337', 'Random House', 'General & Literary Fiction', '50', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'McCall Smith, Alexander', '1,115,549', 'Little, Brown Book', 'Crime, Thriller & Adventure', '51', 'Island,The', 'Hislop, Victoria', '1,108,328', 'Headline', 'General & Literary Fiction', '52', 'PS, I Love You', 'Ahern, Cecelia', '1,107,379', 'HarperCollins', 'General & Literary Fiction', '53', 'You are What You Eat:The Plan That Will Change Your Life', 'McKeith, Gillian', '1,104,403', 'Penguin', 'Fitness & Diet', '54', 'Shadow of the Wind,The', 'Zafon, Carlos Ruiz', '1,092,349', 'Orion', 'General & Literary Fiction', '55', 'Tales of Beedle the Bard,The', 'Rowling, J.K.', '1,090,847', 'Bloomsbury', "Children's Fiction", '56', 'Broker,The', 'Grisham, John', '1,087,262', 'Random House', 'Crime, Thriller & Adventure', '57', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Atkins, Robert C.', '1,054,196', 'Random House', 'Fitness & Diet', '58', 'Subtle Knife,The:His Dark Materials S.', 'Pullman, Philip', '1,037,160', 'Scholastic Ltd.', 'Young Adult Fiction', '59', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', 'Truss, Lynne', '1,023,688', 'Profile Books Group', 'Usage & Writing Guides', '60', "Delia's How to Cook:(Bk.1)", 'Smith, Delia', '1,015,956', 'Random House', 'Food & Drink: General', '61', 'Chocolat', 'Harris, Joanne', '1,009,873', 'Transworld', 'General & Literary Fiction', '62', 'Boy in the Striped Pyjamas,The', 'Boyne, John', '1,004,414', 'Random House Childrens Books G', 'Young Adult Fiction', '63', "My Sister's Keeper", 'Picoult, Jodi', '1,003,780', 'Hodder & Stoughton', 'General & Literary Fiction', '64', 'Amber Spyglass,The:His Dark Materials S.', 'Pullman, Philip', '1,002,314', 'Scholastic Ltd.', 'Young Adult Fiction', '65', 'To Kill a Mockingbird', 'Lee, Harper', '998,213', 'Random House', 'General & Literary Fiction', '66', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Gray, John', '992,846', 'HarperCollins', 'Popular Culture & Media: General Interest', '67', 'Dear Fatty', 'French, Dawn', '986,753', 'Random House', 'Autobiography: The Arts', '68', 'Short History of Tractors in Ukrainian,A', 'Lewycka, Marina', '986,115', 'Penguin', 'General & Literary Fiction', '69', 'Hannibal', 'Harris, Thomas', '970,509', 'Random House', 'Crime, Thriller & Adventure', '70', 'Lord of the Rings,The', 'Tolkien, J. R. R.', '967,466', 'HarperCollins', 'Science Fiction & Fantasy', '71', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Moore, Michael', '963,353', 'Penguin', 'Current Affairs & Issues', '72', 'Interpretation of Murder,The', 'Rubenfeld, Jed', '962,515', 'Headline', 'Crime, Thriller & Adventure', '73', 'Sharon Osbourne Extreme:My Autobiography', 'Osbourne, Sharon', '959,496', 'Little, Brown Book', 'Autobiography: The Arts', '74', 'Alchemist,The:A Fable About Following Your Dream', 'Coelho, Paulo', '956,114', 'HarperCollins', 'General & Literary Fiction', '75', "At My Mother's Knee ...:and Other Low Joints", "O'Grady, Paul", '945,640', 'Transworld', 'Autobiography: The Arts', '76', 'Notes from a Small Island', 'Bryson, Bill', '931,312', 'Transworld', 'Travel Writing', '77', 'Return of the Naked Chef,The', 'Oliver, Jamie', '925,425', 'Penguin', 'Food & Drink: General', '78', 'Bridget Jones: The Edge of Reason', 'Fielding, Helen', '924,695', 'Pan Macmillan', 'General & Literary Fiction', '79', "Jamie's Italy", 'Oliver, Jamie', '906,968', 'Penguin', 'National & Regional Cuisine', '80', 'I Can Make You Thin', 'McKenna, Paul', '905,086', 'Transworld', 'Fitness & Diet', '81', 'Down Under', 'Bryson, Bill', '890,847', 'Transworld', 'Travel Writing', '82', 'Summons,The', 'Grisham, John', '869,671', 'Random House', 'Crime, Thriller & Adventure', '83', 'Small Island', 'Levy, Andrea', '869,659', 'Headline', 'General & Literary Fiction', '84', 'Nigella Express', 'Lawson, Nigella', '862,602', 'Random House', 'Food & Drink: General', '85', 'Brick Lane', 'Ali, Monica', '856,540', 'Transworld', 'General & Literary Fiction', '86', "Memory Keeper's Daughter,The", 'Edwards, Kim', '845,858', 'Penguin', 'General & Literary Fiction', '87', 'Room on the Broom', 'Donaldson, Julia', '842,535', 'Pan Macmillan', 'Picture Books', '88', 'About a Boy', 'Hornby, Nick', '828,215', 'Penguin', 'General & Literary Fiction', '89', 'My Booky Wook', 'Brand, Russell', '820,563', 'Hodder & Stoughton', 'Autobiography: The Arts', '90', 'God Delusion,The', 'Dawkins, Richard', '816,907', 'Transworld', 'Popular Science', '91', '"Beano" Annual,The', '0', '816,585', 'D.C. Thomson', "Children's Annuals", '92', 'White Teeth', 'Smith, Zadie', '815,586', 'Penguin', 'General & Literary Fiction', '93', 'House at Riverton,The', 'Morton, Kate', '814,370', 'Pan Macmillan', 'General & Literary Fiction', '94', 'Book Thief,The', 'Zusak, Markus', '809,641', 'Transworld', 'General & Literary Fiction', '95', 'Nights of Rain and Stars', 'Binchy, Maeve', '808,900', 'Orion', 'General & Literary Fiction', '96', 'Ghost,The', 'Harris, Robert', '807,311', 'Random House', 'General & Literary Fiction', '97', 'Happy Days with the Naked Chef', 'Oliver, Jamie', '794,201', 'Penguin', 'Food & Drink: General', '98', 'Hunger Games,The:Hunger Games Trilogy', 'Collins, Suzanne', '792,187', 'Scholastic Ltd.', 'Young Adult Fiction', '99', "Lost Boy,The:A Foster Child's Search for the Love of a Family", 'Pelzer, Dave', '791,507', 'Orion', 'Biography: General', '100', "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours", 'Oliver, Jamie', '791,095', 'Penguin', 'Food & Drink: General']
600

In [ ]:
//div[@class="embed block"]/table/tbody/tr/td

In [56]:
print(States_titles)

[]

In [59]:
Rank_tags = driver.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td')

# Create lists to store each category
Rank = []
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

# Iterate through the elements and extract data for the first 100 records
for i in range(0, len(Rank_tags), 6):
    rank = Rank_tags[i].text
    book_name = Rank_tags[i + 1].text
    author_name = Rank_tags[i + 2].text
    volumes_sold = Rank_tags[i + 3].text
    publisher = Rank_tags[i + 4].text
    genre = Rank_tags[i + 5].text

    Rank.append(rank)
    Book_name.append(book_name)
    Author_name.append(author_name)
    Volumes_sold.append(volumes_sold)
    Publisher.append(publisher)
    Genre.append(genre)

# Output the scraped data
print("Rank:", Rank)
print("Book Name:", Book_name)
print("Author Name:", Author_name)
print("Volumes Sold:", Volumes_sold)
print("Publisher:", Publisher)
print("Genre:", Genre)

Rank: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']
Book Name: ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]
Author Name: ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']
Volumes Sold: ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']
Publisher: ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']
Genre: ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [60]:
import pandas as pd
df=pd.DataFrame({'Rank':Rank, 'Book':Book_name,'Author':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Rank,Book,Author,Volumes_sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
Que7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [62]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [63]:
Rank_tags = driver.find_elements(By.XPATH, '//h3[@class="ipc-title__text"]')

# Create a list to store the series titles
States_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Rank_tags:
    rank = i.text
    States_titles.append(rank)

# Output the scraped series titles
print(States_titles)

print(len(States_titles))

['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Avatar: The Last Airbender', '48. Homeland', '49. Brooklyn Nine-Nine', '50. Wednesday', 'Recently viewed']
51

In [69]:
Rank_tags = driver.find_elements(By.XPATH, '//h3[@class="ipc-title__text"]')

# Create lists to store each category
Name = []      # Additional list
Year_span = [] # Additional list
Run_time = []  # Additional list
Ratings = []   # Additional list
Votes = []     # Additional list

# Iterate through the elements and extract data for the first 100 records
for i in range(0, len(Rank_tags), 5):  # Update the range to match the number of columns
    try:
        # Extracting the text and removing the number at the beginning
        name = Rank_tags[i].text.split('. ', 1)[1]
        year_span = Rank_tags[i + 1].text.split('. ', 1)[1]
        run_time = Rank_tags[i + 2].text.split('. ', 1)[1]
        ratings = Rank_tags[i + 3].text.split('. ', 1)[1]
        votes = Rank_tags[i + 4].text.split('. ', 1)[1]

        Name.append(name)
        Year_span.append(year_span)
        Run_time.append(run_time)
        Ratings.append(ratings)
        Votes.append(votes)
    except IndexError:
        # Handle the case where the split doesn't produce the expected result
        print(f"IndexError occurred at index {i}")

# Output the scraped data
print("Name:", Name)
print("Year Span:", Year_span)
print("Run Time:", Run_time)
print("Ratings:", Ratings)
print("Votes:", Votes)

IndexError occurred at index 50
Name: ['Game of Thrones', 'Sherlock', 'True Detective', 'Rick and Morty', 'The Witcher', 'House', 'Suits', 'Dark', 'South Park', 'Family Guy']
Year Span: ['Breaking Bad', 'The Big Bang Theory', 'Peaky Blinders', 'Lost', 'Squid Game', 'The Last of Us', 'Daredevil', 'The Simpsons', 'The Wire', 'Avatar: The Last Airbender']
Run Time: ['Stranger Things', 'Dexter', 'Better Call Saul', 'The Mandalorian', 'Westworld', 'Attack on Titan', 'Narcos', 'Fargo', 'Death Note', 'Homeland']
Ratings: ['Friends', 'How I Met Your Mother', 'The Boys', 'Vikings', 'House of Cards', 'Supernatural', 'The Sopranos', 'Mr. Robot', 'The Flash', 'Brooklyn Nine-Nine']
Votes: ['The Walking Dead', 'The Office', 'Black Mirror', 'Prison Break', 'Money Heist', 'Modern Family', 'Arrow', 'Loki', 'House of the Dragon', 'Wednesday']

In [70]:
import pandas as pd
df=pd.DataFrame({'Name':Name, 'Year_span':Year_span,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year_span,Run_time,Ratings,Votes
0,Game of Thrones,Breaking Bad,Stranger Things,Friends,The Walking Dead
1,Sherlock,The Big Bang Theory,Dexter,How I Met Your Mother,The Office
2,True Detective,Peaky Blinders,Better Call Saul,The Boys,Black Mirror
3,Rick and Morty,Lost,The Mandalorian,Vikings,Prison Break
4,The Witcher,Squid Game,Westworld,House of Cards,Money Heist
5,House,The Last of Us,Attack on Titan,Supernatural,Modern Family
6,Suits,Daredevil,Narcos,The Sopranos,Arrow
7,Dark,The Simpsons,Fargo,Mr. Robot,Loki
8,South Park,The Wire,Death Note,The Flash,House of the Dragon
9,Family Guy,Avatar: The Last Airbender,Homeland,Brooklyn Nine-Nine,Wednesday

In [ ]:
Que8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [71]:
driver = webdriver.Chrome()

#Opening Shine Page an autometed chrome browser.

driver.get("https://archive.ics.uci.edu/")

In [82]:
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a")

search.click()

In [83]:

required_data = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/form/div[4]/div")

required_data.click()

In [80]:
Rank_tags = driver.find_elements(By.XPATH, '//div[@class="flex flex-col gap-1"]/div/div/div/h2/a')

# Create a list to store the series titles
States_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Rank_tags:
    rank = i.text
    States_titles.append(rank)

# Output the scraped series titles
print(States_titles)

print(len(States_titles))

['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Diabetes', 'Car Evaluation', 'Bank Marketing', 'Mushroom', 'Abalone', 'Student Performance', 'Census Income', 'Online Retail', 'Automobile', 'Statlog (German Credit Data)', 'Breast Cancer', 'Auto MPG', 'Breast Cancer Wisconsin (Original)', 'Spambase', "Predict Students' Dropout and Academic Success", 'Glass Identification']
25

In [88]:
# scrape all product urls

product_urls = []

start = 0
end = 1

for page in range(start, end):  # for Loop for scrapping 3 pages
    urls = driver.find_elements(By.XPATH, '//h2[@class="truncate text-primary"]/a')

    for i in urls:
        # scraping urls
        product_urls.append(i.get_attribute("href"))

    time.sleep(2)

print(product_urls)    
print(len(product_urls))

['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/850/raisin', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'https://archive.ics.uci.edu/dataset/34/diabetes']
10

In [85]:
Data_Types_tags = driver.find_elements(By.XPATH, '//div[@class="p-4 pt-0"]/div/label')

# Create a list to store the series titles
Data_Types_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Data_Types_tags:
    datatype = i.text
    Data_Types_titles.append(datatype)

# Output the scraped series titles
print(Data_Types_titles)

print(len(Data_Types_titles))

['Image', 'Multivariate', 'Sequential', 'Spatiotemporal', 'Tabular', 'Text', 'Time-Series', 'Other']
8

In [91]:

task_data = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/form/div[6]/div")

task_data.click()

In [92]:
#/html/body/div/div[1]/div[1]/main/div/div[1]/form/div[6]/div/label/span

Task_tags = driver.find_elements(By.XPATH, '//div[@class="p-4 pt-0"]/div/label')

# Create a list to store the series titles
Task_tags_titles = []

# Iterate through the elements and extract titles for the first 33 records
for i in Task_tags:
    task = i.text
    Task_tags_titles.append(task)

# Output the scraped series titles
print(Task_tags_titles)

print(len(Task_tags_titles))

['Classification', 'Regression', 'Clustering', 'Other']
4

In [ ]:

task_data = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/form/div[6]/div")

task_data.click()

In [ ]:
//h2[@class="truncate text-primary"]/a

In [93]:
# scrape all product urls

product_urls = []

start = 0
end = 3

for page in range(start, end):  # for Loop for scrapping 3 pages
    urls = driver.find_elements(By.XPATH, '//h2[@class="truncate text-primary"]/a')

    for i in urls:
        # scraping urls
        product_urls.append(i.get_attribute("href"))

    # clicking the next button
    nxt_button = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    nxt_button.click()

    time.sleep(2)
print(len(product_urls))

75

In [94]:
from selenium.common.exceptions import NoSuchElementException

Instances_list = []

# Specify the maximum number of records to scrape
max_records = 100

for index, url in enumerate(product_urls):  # loop for every guitar in the list
    if index >= max_records:
        break

    driver.get(url)
    time.sleep(2)

    try:
        instance = driver.find_element(By.XPATH, '//div[@class="col-span-4"]/p')
        Instances_list.append(instance.text)
    except NoSuchElementException:
        Instances_list.append('-')
print(Instances_list)
print(len(Instances_list))

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate']
75